@charset "utf-8";
body {
	font-family: "Century Gothic";
	background-color: #FFAE62;
	margin: 0;
	padding: 0;
	color: #000;
}


ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px;
}
a img { 
	border: none;
}


a:link {
	color:#414958;
	text-decoration: underline; 
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}


.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background-color: #FFF;
	margin: 0 auto; 
}


.header {
	background-color: #FFAE62;
}


.content {
	padding: 10px 0;
}


.content ul, .content ol { 
	padding: 0 15px 15px 40px;
}


.footer {
	padding: 10px 0;
	background-color: #FFAE62;
}


.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
#btn001 {
	background-color : #d9bb27;
	position: absolute;
right: 126px;
top: 5px;
	
}
#btn002 {
	position: absolute;
	display: inline-block;
right: 126px;
top: 25px;

padding: 10px 13px;
	
}

.primg0
{
	max-width: 150px;
	max-height: 200px;
}
.card {
	display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  text-align:center;
	
}
.pcard {
	display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align:center;
	
}
.pbutton{
        position : absolute;
		text-align: center;
        background-color: beige;
        height: 50px;
        width: 100px;
		 margin-left: 50px;
  margin-right: 50px;
        border-radius: 5px;
        display: inline-block;
 
}
.pform {
	 position : absolute;
		text-align: center;
       margin-left: 500px;
  margin-right: 500px;
       display: inline-block;
	
}



/* Start Search bar */

* {
  box-sizing: border-box;
}

/* Style the search field */
form.srcbartn input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.srcbartn button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.srcbartn button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.srcbartn::after {
  content: "";
  clear: both;
  display: table;
}



/* End Search bar */


/* Start Nav Search  */
.product-filter {
	display: flex;
}

.product-filter h1 {
  flex-grow: 1;
}

.sort {
  display: flex;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
li {
  background-color: #e6e6e6 ;
  
}
.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;

  display: flex;
}

// vars
$font-sans-serif : 'Roboto Condensed', sans-serif;
$font-serif      : 'Playfair Display', serif;

.main-content {
  min-height: 1000px; // just for this pen
}

.hero {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
  // needed to prevent janky scrolling in Safari
  backface-visibility: hidden;
  //100% height of the viewport
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100%;
	
	@media screen and (min-width:640px) {
		background-position: 50% 0;
	}

	// Add a slight overlay on our image
	&:after {
		background-color: rgba(62,92,135,.5);
		bottom: 0;
		content: '';
		left: -2000%;
		position: absolute;
		right: -2000%;
		top: 0;
		z-index: 1;
	}
}

.hero-container {
	box-sizing: border-box;
	height: auto;
	padding: 30px 50px;
	position: relative;
	z-index: 2;
  
  // set our fade for when the JS kicks in on scroll
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
	
	@media screen and (min-width:640px) {
		height: 100%;
	}

	p {
		color: white;
		font-family: $font-sans-serif;
		font-size: 13px;
    font-weight: bold;
		letter-spacing: 6px;
    opacity: 0.8;
    text-transform: uppercase;
    text-align: left;
	}
}

.hero-button {
  background: rgba(255,255,255,0.8);
  color: #44575b;
  font-size: 24px;
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  padding: 20px 90px;
  text-decoration: none;
}

.hero-title {
	color: white;
	font-family: $font-serif;
  // Respond to viewport width–works well since
  // we're sizing the image according viewport height
	font-size: 17vw; 
	font-weight: 500;
	letter-spacing: 1px;
  line-height: 1.1;
  margin: 5px 0;
  text-align: left;
  width: 85%;
  
  @media screen and (min-width:640px) {
		font-size: 10vw;
	}
}

.main-content {
  height: auto;
	padding: 30px 50px;
	position: relative;
  width: 60%;
}

.main-content p {
  color: #25373D;
  font-family: $font-serif;
  font-size: 18px;
  line-height: 1.5;
}

// Start Animation Tweaks
// Need to refactory and Sassify–just proof-of-concept and testing right now
// Basically tweaking transform, translates inside keyframes and adding delays

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-12px, 0, 0);
    //transform: translate3d(-100%, 0, 0);
    transform: translate3d(-12px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.animate {
    animation-duration: 0.75s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.delay {
  animation-delay: 1s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.delay-500 {
  animation-delay: 0.5s;
}

.delay-600 {
  animation-delay: 0.6s;
}

.delay-700 {
  animation-delay: 0.7s;
}

.delay-800 {
  animation-delay: 0.8s;
}
/* End Nav Search  */
